<header class='header'>
    <h1 class='h1'>${business.rows[0].business_name}</h1>
    <h2 class='h2'>${business.rows[0].business_address}</h2>
    <h2 class='h2'>${business.rows[0].phone_num}</h2>

</header>

${
    businessReviews.rows.map(ele=>
        `
        <div class='reviewContainer'>
            <div class='stars'>Star: ${ele.stars}</div>
            <div>${ele.review}</div>
        </div>
        `
    ).join('')
}

<form action="/yelp/${business.rows[0].id}" method='POST'>
    <textarea class='textarea' rows="4" cols="50" name="review" placeholder="Leave a review..."></textarea>
    <br/>
    Stars:
        <label>
            <input class='starRadio' type="radio" name="stars" value="1">
            <div class='starReview' id='star1'></div>
        </label>
        <label>
            <input class='starRadio' type="radio" name="stars" value="2">
            <div class='starReview' id='star2'></div>
        </label>
        <label>
            <input class='starRadio' type="radio" name="stars" value="3">
            <div class='starReview' id='star3'></div>
        </label>
        <label>
            <input class='starRadio' type="radio" name="stars" value="4">
            <div class='starReview' id='star4'></div>
        </label>
        <label>
            <input class='starRadio' type="radio" name="stars" value="5">
            <div class='starReview' id='star5'></div>
        </label>
    <br/>
    <br/>

    <button name='id' class='button is-primary' value=${business.rows[0].id} type="submit">submit</button>
</form>
<script>
    const starRadio = document.getElementsByClassName('starRadio');
    Array.from(starRadio).forEach(ele => {
        ele.addEventListener('click', function(e){
            let stars = ele.value;
            for(let i = 1; i <= starRadio.length; i++) document.getElementById('star' + i).style.backgroundImage = "url('../images/empty.png')";
            for(let i = 1; i <= stars; i++) document.getElementById('star' + i).style.backgroundImage = "url('../images/star.png')";
        });
    });
</script>