body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  font-size:2em;
}


.businessContainer{
  display:flex;
  margin-bottom:20px;
  padding-bottom:20px;
  border-bottom:1px solid lightgrey;
}

.mainInfo{
  flex-grow:8;
}

.businessContainer, .address{
  flex-grow:1
}

.busImage{
  margin-right:10px;
  border-radius:10px;
}

.stars{
  margin-bottom:10px;
}

.address{
  max-width:150px;
  text-align:right;
}

*[id^='starsContainer']{
  display:flex;
}

*[id^='starsContainer'] li{
  margin:0 3px;
}

.reviewContainer{
  border-bottom:1px solid grey;
  margin:10px 0;
  padding-bottom:10px;
}